body
 {
  background-color: rgb(183, 138, 138);
}
.content
{
 display: flex;
 flex-direction: row;
}
.content img
{
 width: 600px;
 height: 600px;
 border-radius: 5px;
}
.text p{
 margin-top: 70px;
 margin-left: 15px;
 line-height: 1.5;
 letter-spacing: 2px;
}
.main{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.text{
  margin-top: 10px;
}
.timer
{
 text-align: center;
 box-sizing: border-box;
  display: flex;
  color: rgba(0, 0, 0, 0.879);
 margin-top: 30px;
}
.timer p{
  font-size: 30px;
  font-weight: bold;
}
.timer div {
  border:solid, rgba(0, 0, 0, 0.748),;
  background-color: rgba(0, 0, 0, 0.916);
  color: rgba(255, 255, 255, 0.948);
  margin-left: 30px;
  height: 80px;
  flex-basis: 100px;
  border-radius: 5px; 
}
@media  (max-width: 700px)
{
.content{
  flex-direction: column;
}
.main{
  margin-left: 30px;
  margin-top: -70px;
}
.content img{
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
}
